@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');





p {
    cursor: pointer;
    font-weight: 600;
    color: rgb(88, 68, 114);
}

h1 {
    font-size: 1.8em;
    color: slateblue;
    padding: 0px 0px 35px 15px;
}

h2 {
    font-size: 1.4em;
    color: slateblue;
}

.inputlogin {
    width: 80%;
    height: 40px;
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
    font-weight: 600;
    color: #1c1c1c;
    padding-left: 3px;
    border-radius: 10px;
}

.inputcadastro {
    width: 10%;
    height: 40px;
    border: none;
    border-bottom: 1px solid silver;
    outline: none;
    font-weight: 600;
    color: #1c1c1c;
    padding-left: 3px;
    border-radius: 10px;
}

button {
    font-size: 15px;
    font-weight: bolder;
    color: #fff;
    cursor: pointer;
    width: 130px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background: slateblue;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../../../../../public/imagens/fundo.png);
    background-repeat: no-repeat;
    background-size: 100%;
    
}



#container {
    width: 450px;
    height: 650px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 6px -1px #000000;
    box-shadow: 0px 0px 6px -1px #000000;
    background: #785eef;
    display: flex;
    align-items: center;
}

#container .banner {
    width: 650px;
    height: 650px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #785eef;

    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#container .box-login {
    width: 450px;
    height: 650px;
    border-radius: 10px;
    background: #E6E6FA;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box-login .box {
    width: 80%;
    height: 400px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.box .social {
    width: 240px;
    height: 42px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social img {
    cursor: pointer;
}

.box-login .box-account {
    width: 800%;
    height: 360px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

#bubble {
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 1px solid #483D8B;
    background: slateblue;

    display: flex;
    justify-content: center;
    align-items: center;
}