/* style.css */
.card-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.card {
    flex: 1;
    margin: 50px;
    padding: 10px;
    min-width: 250px;
    background-color: #e1ceec;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    text-decoration: none;
}

.card a {
    flex: 1;
    margin: 50px;
    padding: 10px;
    min-width: 250px;
    background-color: #e1ceec;
    border-radius: 20px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
    text-decoration: none;
}

.card a:hover {
    
    background-color: #d6b7e7;
    
}

.card-title {
    font-size: 1.25rem;
}

.card-text {
    font-size: 1rem;
}

.hadm {
    display: flex;
}

.section{
    margin: 50px;
}

.img {
    position: relative;
    left: 0px;
}